/* @import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Hand+Pre:wght@400..700&display=swap'); */
/* "Edu NSW ACT Hand Pre", cursive; */


@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');


body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}

.header-link {
  color: aqua !important;
}


.header-link:hover {
  color: red !important;
  transition: all 0.7s;
}
.lines::before {
  content: "";
  display: inline-block;
  height: 2px;
  margin-right: 12px;
  position: relative;
  top: -4px;
  width: 40px;
  background: red;
}

ul li a:hover {
  color: red !important;
  transition: all 0.7s;
}

.imgh {
  transition: all 0.7s;
}

.imgh:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

@keyframes spin {
  from {
    transform: rotate(180deg);
  }

  to {
    transform: rotate(-540deg);
  }
}


.icon {
  width: 65%;
  padding: 8px;
  background-color: red;
  border-radius: 50%;
}

@media (min-width: 768px) {
  .icon {
    width: 50%;
  }
}

.css-1umw9bq-MuiSvgIcon-root {
  width: 1.4rem !important;
}

.css-1umw9bq-MuiSvgIcon-root {
  color: red;
}


.Galleryimg {
  border-radius: 30px;
  transition: filter 0.3s ease;
}
.Gallery-box:hover .Galleryimg-icon{
  display: block !important;
  transition: all 0.6s !important;
}

.Galleryimg:hover {
  filter: blur(30px) !important;
  border-radius: 10px!important;
}

/* Default styles */
.responsive-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

/* Styles for screens between 600px and 900px */
@media (min-width: 0px) and (max-width: 600px) {
  .responsive-img {
    width: 100%!important;
  }
}

/* Styles for screens above 900px */
@media (min-width: 600px) {
  .responsive-img {
    width: 60%;
  }
  @keyframes updown {
  0% {
    transform: translateY(-10px);
  }

  50% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-10px);
  }
  
}
@keyframes leftRight {
  0% {
    transform: translateX(-20px);
  }

  50% {
    transform: translateX(30px);
  }

  100% {
    transform: translateX(-20px);
  }
  
}

}


